@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Slider Arae Start -->
<div class="slider-area">
    <div class="slider-active-3 owl-carousel slider-hm8 owl-dot-style">
        <!-- Slider Single Item Start -->
        <div class="slider-height-6 d-flex align-items-start justify-content-start bg-img" style="background-image: url(assets/images/slider-image/sample-1.jpg);">
            <div class="container">
                <div class="slider-content-1 slider-animated-1 text-left">
                    <span class="animated">NOT FRIED NOT BAKED</span>
                    <h1 class="animated">
                        Freeze Dried Fruits <br />
                        Pineapple Coconut
                    </h1>
                    <p class="animated">Free Shipping On Qualified Orders Over $35</p>
                    <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- Slider Single Item End -->
        <!-- Slider Single Item Start -->
        <div class="slider-height-6 d-flex align-items-start justify-content-start bg-img" style="background-image: url(assets/images/slider-image/sample-2.jpg);">
            <div class="container">
                <div class="slider-content-1 slider-animated-1 text-left">
                    <span class="animated">100% NATURAL</span>
                    <h1 class="animated">
                        Organic Fruits <br />
                        Summer Drinks
                    </h1>
                    <p class="animated">fresh New pack Brusting Fruits</p>
                    <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- Slider Single Item End -->
    </div>
</div>
<!-- Slider Arae End -->
<!-- Category Area Start -->
<section class="categorie-area" style="margin-top:60px; margin-bottom:60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section Title -->
                <div class="section-title">
                    <h2>Popular Categories</h2>
                    <p>Add Popular Categories to weekly line up</p>
                </div>
                <!-- Section Title -->
            </div>
        </div>
        <!-- Category Slider Start -->
        <div class="category-slider owl-carousel owl-nav-style">
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list mb-30px">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Fresh Vegetables</h4>
                        </div>
                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Fresh Salad & Dips</h4>
                        </div>

                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list mb-30px">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Fresh Fruit</h4>
                        </div>

                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Baking & Cooking</h4>
                        </div>

                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list mb-30px">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-5.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Fresh Cream & Custard</h4>
                        </div>

                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-6.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Milk, Butter & Eggs</h4>
                        </div>

                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
            <div class="category-item">
                <div class="category-list mb-30px">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-7.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Spreads & Margarine</h4>
                        </div>

                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
                <div class="category-list">
                    <div class="category-thumb">
                        <a href="shop-4-column.html">
                            <img src="assets/images/product-image/organic/thumb-8.jpg" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>Fresh Vegetables</h4>
                        </div>

                        <span class="number_product">17 Products</span>
                        <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single item -->
        </div>
        <!-- Category Slider End  -->
    </div>
</section>
<!-- Category Area End  -->
<!-- Best Sells Area Start -->
<section class="best-sells-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section Title -->
                <div class="section-title">
                    <h2>Best Sellers</h2>
                    <p>Add bestselling products to weekly line up</p>
                </div>
                <!-- Section Title -->
            </div>
        </div>
        <!-- Best Sell Slider Carousel Start -->
        @if (Model.Count() > 0)
        {
            <div class="best-sell-slider owl-carousel owl-nav-style">
                @{int val = 0; }
                @foreach (var product in Model)
                {
                    <!-- Single Item -->
                    @if (val == 0)
                    {
                        @:<div class="list-product-2">
                        }

                    if (val % 2 == 0)
                    {
                        val++;
                        <article class="list-product mb-30px">
                            <div class="img-block">
                                <a href="/Product/@product.SeoUrl" class="thumbnail">
                                    @if (product.MainImage != null)
                                    {
                                        <img class="first-img" src="@product.MainImage?w=170&h=170" alt="@product.Name" />
                                    }
                                    else
                                    {
                                        <img class="first-img" src="~/images/system/no-image.png" alt="@product.Name" />
                                    }
                                    <!--<img class="second-img" src="https://localhost:62124/images/test_images/rog%20strix%20rx480%20O8G%20gaming.jpg?w=170&h=170" alt="" />-->
                                </a>
                            </div>
                            <ul class="product-flag">
                                @if (product.OldPrice > 0)
                                {
                                    <li class="new">Yeni</li>
                                }
                            </ul>
                            <div class="product-decs">
                                <h2><a href="/Product/@product.SeoUrl" class="product-link">@product.Name</a></h2>
                                <div class="rating-product">
                                    @for (int i = 0; i < Math.Ceiling(product.Rating); i++)
                                    {
                                        <i class="ion-android-star"></i>
                                    }
                                    @for (int i = 0; i < 5 - Math.Ceiling(product.Rating); i++)
                                    {
                                        <i class="ion-android-star-outline"></i>
                                    }
                                </div>
                                <div class="pricing-meta">
                                    <ul>
                                        @if (product.OldPrice > 0)
                                        {
                                            <li class="old-price">@product.OldPrice.ToString("N2") TL</li>
                                            <li class="current-price">@Html.Raw(product.Price.ToString("N2")) TL</li>
                                            <li class="discount-price">%@Math.Ceiling((product.OldPrice - product.Price) / product.Price * 100)</li>
                                        }
                                        else
                                        {
                                            <li class="current-price">@product.Price.ToString("N2") TL</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="add-to-link">
                                <ul>
                                    <li class="cart">
                                        <form asp-area="" asp-controller="Cart" asp-action="Add" method="post">
                                            <input type="hidden" value="@product.Id" name="id" />
                                            <button type="submit" class="cart-btn">ADD TO CART</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    }
                    else
                    {
                        val++;
                        <article class="list-product">
                            <div class="img-block">
                                <a href="/Product/@product.SeoUrl" class="thumbnail">
                                    @if (product.MainImage != null)
                                    {
                                        <img class="first-img" src="@product.MainImage?w=170&h=170" alt="@product.Name" />
                                    }
                                    else
                                    {
                                        <img class="first-img" src="~/images/system/no-image.png" alt="@product.Name" />
                                    }
                                    <!--<img class="second-img" src="https://localhost:62124/images/test_images/rog%20strix%20rx480%20O8G%20gaming.jpg?w=170&h=170" alt="" />-->
                                </a>
                            </div>
                            <ul class="product-flag">
                                @if (product.OldPrice > 0)
                                {
                                    <li class="new">Yeni</li>
                                }
                            </ul>
                            <div class="product-decs">
                                <h2><a href="/Product/@product.SeoUrl" class="product-link">@product.Name</a></h2>
                                <div class="rating-product">
                                    @for (int i = 0; i < Math.Ceiling(product.Rating); i++)
                                    {
                                        <i class="ion-android-star"></i>
                                    }
                                    @for (int i = 0; i < 5 - Math.Ceiling(product.Rating); i++)
                                    {
                                        <i class="ion-android-star-outline"></i>
                                    }
                                </div>
                                <div class="pricing-meta">
                                    <ul>
                                        @if (product.OldPrice > 0)
                                        {
                                            <li class="old-price">@product.OldPrice.ToString("N2") TL</li>
                                            <li class="current-price">@Html.Raw(product.Price.ToString("N2")) TL</li>
                                            <li class="discount-price">%@Math.Ceiling((product.OldPrice - product.Price) / product.Price * 100)</li>
                                        }
                                        else
                                        {
                                            <li class="current-price">@product.Price.ToString("N2") TL</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="add-to-link">
                                <ul>
                                    <li class="cart">
                                        <form asp-area="" asp-controller="Cart" asp-action="Add" method="post">
                                            <input type="hidden" value="@product.Id" name="id" />
                                            <button type="submit" class="cart-btn">ADD TO CART</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    }
                    if (val == 2)
                    {
                        val = 0;
                    @:</div>
                }
            }
            </div>
        }
        <!-- Best Sell Slider Carousel End -->
    </div>
</section>
<!-- Best Sell Area End -->
<!-- Feature Area 2 Start -->
<section class="feature-area-2">
    <div class="container">
        <div class="row">
            <!-- left side -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="feature-left">
                    <img src="assets/images/feature-bg/1.jpg" alt="" class="img-responsive" />
                </div>
            </div>
            <!-- left side -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Section Title -->
                <div class="section-title">
                    <h2>Featured Products</h2>
                    <p>Add featured products to weekly line up</p>
                </div>
                <!-- Section Title -->
                <!-- Feature slide 2 start -->
                @if (Model.Count() > 0)
                {
                    <div class="feature-slider-2 owl-carousel owl-nav-style">
                        @{int val1 = 0; }
                        @foreach (var product in Model)
                        {
                            <!-- slngle item -->
                            @if (val1 == 0)
                            {
                                @:<div class="feature-slider-item">
                                }
                            if (val1 % 2 == 0)
                            {
                                val1++;
                                <article class="list-product">
                                    <div class="img-block">
                                        <a href="/Product/@product.SeoUrl" class="thumbnail">
                                            @if (product.MainImage != null)
                                            {
                                                <img class="first-img" src="@product.MainImage?w=170&h=170" alt="@product.Name" />
                                            }
                                            else
                                            {
                                                <img class="first-img" src="~/images/system/no-image.png" alt="@product.Name" />
                                            }
                                            <!--<img class="second-img" src="https://localhost:62124/images/test_images/rog%20strix%20rx480%20O8G%20gaming.jpg?w=170&h=170" alt="" />-->
                                        </a>
                                    </div>
                                    <div class="product-decs">
                                        <h2><a href="/Product/@product.SeoUrl" class="product-link">@product.Name</a></h2>
                                        <div class="rating-product">
                                            @for (int i = 0; i < Math.Ceiling(product.Rating); i++)
                                            {
                                                <i class="ion-android-star"></i>
                                            }
                                            @for (int i = 0; i < 5 - Math.Ceiling(product.Rating); i++)
                                            {
                                                <i class="ion-android-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pricing-meta">
                                            <ul>
                                                <li class="current-price">@product.Price.ToString("N2") TL</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            }
                            else
                            {
                                val1++;
                                <article class="list-product">
                                    <div class="img-block">
                                        <a href="/Product/@product.SeoUrl" class="thumbnail">
                                            @if (product.MainImage != null)
                                            {
                                                <img class="first-img" src="@product.MainImage?w=170&h=170" alt="@product.Name" />
                                            }
                                            else
                                            {
                                                <img class="first-img" src="~/images/system/no-image.png" alt="@product.Name" />
                                            }
                                            <!--<img class="second-img" src="https://localhost:62124/images/test_images/rog%20strix%20rx480%20O8G%20gaming.jpg?w=170&h=170" alt="" />-->
                                        </a>
                                    </div>
                                    <div class="product-decs">
                                        <h2><a href="/Product/@product.SeoUrl" class="product-link">@product.Name</a></h2>
                                        <div class="rating-product">
                                            @for (int i = 0; i < Math.Ceiling(product.Rating); i++)
                                            {
                                                <i class="ion-android-star"></i>
                                            }
                                            @for (int i = 0; i < 5 - Math.Ceiling(product.Rating); i++)
                                            {
                                                <i class="ion-android-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pricing-meta">
                                            <ul>
                                                <li class="current-price">@product.Price.ToString("N2") TL</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            }

                            if (val1 == 2)
                            {
                                val1 = 0;
                            @:</div>
                        }
                    }
                    </div>
                }
                <!-- Feature slide 2 End -->
            </div>
        </div>
    </div>
</section>
<!-- Feature Area end -->
<!-- Static Area Start -->
<section class="static-area mtb-60px">
    <div class="container">
        <div class="static-area-wrap">
            <div class="row">
                <!-- Static Single Item Start -->
                <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                    <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0">
                        <img src="assets/images/icons/static-icons-1.png" alt="" class="img-responsive" />
                        <div class="single-static-meta">
                            <h4>Free Shipping</h4>
                            <p>On all orders over $75.00</p>
                        </div>
                    </div>
                </div>
                <!-- Static Single Item End -->
                <!-- Static Single Item Start -->
                <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                    <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0 pt-res-xs-20">
                        <img src="assets/images/icons/static-icons-2.png" alt="" class="img-responsive" />
                        <div class="single-static-meta">
                            <h4>Free Returns</h4>
                            <p>Returns are free within 9 days</p>
                        </div>
                    </div>
                </div>
                <!-- Static Single Item End -->
                <!-- Static Single Item Start -->
                <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                    <div class="single-static pt-res-md-30 pb-res-sm-30 pb-res-xs-0 pt-res-xs-20">
                        <img src="assets/images/icons/static-icons-3.png" alt="" class="img-responsive" />
                        <div class="single-static-meta">
                            <h4>100% Payment Secure</h4>
                            <p>Your payment are safe with us.</p>
                        </div>
                    </div>
                </div>
                <!-- Static Single Item End -->
                <!-- Static Single Item Start -->
                <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                    <div class="single-static pt-res-md-30 pb-res-sm-30 pt-res-xs-20">
                        <img src="assets/images/icons/static-icons-4.png" alt="" class="img-responsive" />
                        <div class="single-static-meta">
                            <h4>Support 24/7</h4>
                            <p>Contact us 24 hours a day</p>
                        </div>
                    </div>
                </div>
                <!-- Static Single Item End -->
            </div>
        </div>
    </div>
</section>
<!-- Static Area End -->