@model ProductModel
@using System.Text.RegularExpressions
@{ ViewData["Title"] = @Model.MetaTitle ?? Model.Name;
    var imgIndex = 0;
    var mainImageSrc = "/images/system/no-image.png"; }
<main id="content" role="main">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="../home/index.html">Home</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="shop.html">Accessories</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="shop.html">Headphones</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Ultra Wireless S50 Headphones S50 with Bluetooth</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->
    <div class="container">
        <!-- Single Product Body -->
        <div class="mb-xl-14 mb-6">
            <div class="row">
                <div class="col-md-5 mb-4 mb-md-0">
                    <div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2"
                         data-infinite="true"
                         data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
                         data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
                         data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
                         data-nav-for="#sliderSyncingThumb">
                        @if (Model.ProductImages.Count > 0)
                        {
                            foreach (var img in Model.ProductImages)
                            {
            <div class="js-slide">
                <img class="img-fluid" src="@img?width=720&height=660&mode=crop">
            </div>imgIndex++;
        }
    }
                    </div>
                    <div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off"
                         data-infinite="true"
                         data-slides-show="@imgIndex"
                         data-is-thumbs="true"
                         data-nav-for="#sliderSyncingNav">
                        @if (Model.ProductImages.Count > 0)
                        {
                            foreach (var img in Model.ProductImages)
                            {
            <div class="js-slide" style="cursor: pointer;">
                <img class="img-fluid" src="@img?width=720&height=660&mode=crop">
            </div>imgIndex++;
        }
    }
                    </div>
                </div>
                <div class="col-md-7 mb-md-6 mb-lg-0">
                    <div class="mb-2">
                        <div class="border-bottom mb-3 pb-md-1 pb-3">
                            <a asp-area="" asp-controller="Category" asp-action="@Model.Categories[0].Name" class="font-size-12 text-gray-5 mb-2 d-inline-block">@Model.Categories[0].Name</a>
                            <h2 class="font-size-25 text-lh-1dot2">@Model.Name</h2>
                            <div class="mb-2">
                                <a class="d-inline-flex align-items-center small font-size-15 text-lh-1" asp-controller="CreateReview" asp-action="@Model.Id">
                                    <div class="text-warning mr-2">
                                        @{ int activeStar = 0;
                                            int roundedRating = Convert.ToInt32(Math.Round(Model.Rating, 0, MidpointRounding.AwayFromZero)); }
                                        @for (int i = 0; i < roundedRating; i++)
                                        {
                            <small class="fas fa-star"></small>activeStar++;
                        }
                                        @for (int i = 0; i < 5 - activeStar; i++)
                                        {
                            <small class="far fa-star text-muted"></small>}
                                    </div>
                                    <span class="text-secondary font-size-13">(@Model.ReviewCount değerlendirme)</span>
                                </a>
                            </div>
                        </div>
                        <div class="flex-horizontal-center flex-wrap mb-4">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)&t=@(Model.MetaTitle ?? Model.Name)" target="_blank" class="text-gray-6 font-size-13 mr-2"><i class="fab fa-facebook-f mr-1 font-size-15"></i> Facebook</a>
                            <a href="https://twitter.com/intent/tweet?url=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)&text=@(Model.MetaTitle ?? Model.Name)" target="_blank" class="text-gray-6 font-size-13 ml-2"><i class="fab fa-twitter mr-1 font-size-15"></i> Twitter</a>
                            <a href="whatsapp://send?text=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)&text=@(Model.MetaTitle ?? Model.Name)"
                               data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                               target="_blank" class="text-gray-6 font-size-13 ml-2"><i class="fab fa-whatsapp mr-1 font-size-15"></i> WhatsApp</a>
                        </div>
                        <div class="mb-2">
                            <ul class="font-size-14 pl-3 ml-1 text-gray-110">
                                @foreach (var spec in Model.Specifications.Take(5))
                                {
                    <li>@Regex.Replace(spec.Value, @"<[^>]*>", String.Empty)</li>
}
                            </ul>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <div class="mb-4">
                            <div class="d-flex align-items-baseline">
                                @if (Model.OldPrice > 0)
                                {
                    <ins class="font-size-36 text-decoration-none">@Html.Raw(Model.Price.ToString("N2")) TL</ins>
                                    <del class="font-size-20 text-gray-9 ml-2">@Model.OldPrice.ToString("N2") TL</del> }
                                else
                                {
                    <ins class="font-size-36 text-decoration-none">@Model.Price.ToString("N2") TL</ins>}
                            </div>
                        </div>

                        <form asp-area="" asp-controller="Cart" asp-action="Add" method="post">
                            <div class="d-md-flex align-items-end mb-3">
                                <input type="hidden" value="@Model.Id" name="id" />
                                <div class="max-width-150 mb-4 mb-md-0">
                                    <!-- Quantity -->
                                    <div class="border rounded-pill py-2 px-3 border-color-1">
                                        <div class="js-quantity row align-items-center">
                                            <div class="col">
                                                <input name="quantity" class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" value="1">
                                            </div>
                                            <div class="col-auto pr-1">
                                                <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" href="javascript:;">
                                                    <small class="fas fa-minus btn-icon__inner"></small>
                                                </a>
                                                <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" href="javascript:;">
                                                    <small class="fas fa-plus btn-icon__inner"></small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Quantity -->
                                </div>
                                <div class="ml-md-3">
                                    <a onclick="this.closest('form').submit();return false;" href="#" class="btn px-5 btn-primary-dark transition-3d-hover"><i class="ec ec-add-to-cart mr-2 font-size-20"></i> Sepete Ekle</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Product Body -->
        <!-- Single Product Tab -->
        <div class="mb-8">
            <div class="position-relative position-md-static px-md-6">
                <ul class="nav nav-classic nav-tab nav-tab-lg justify-content-xl-center flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble border-0 pb-1 pb-xl-0 mb-n1 mb-xl-0" id="pills-tab-8" role="tablist">
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link active" id="Jpills-two-example1-tab" data-toggle="pill" href="#Jpills-two-example1" role="tab" aria-controls="Jpills-two-example1" aria-selected="false">Ürün Açıklaması</a>
                    </li>
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link" id="Jpills-three-example1-tab" data-toggle="pill" href="#Jpills-three-example1" role="tab" aria-controls="Jpills-three-example1" aria-selected="false">Ürün Özellikleri</a>
                    </li>
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link" id="Jpills-four-example1-tab" data-toggle="pill" href="#Jpills-four-example1" role="tab" aria-controls="Jpills-four-example1" aria-selected="false">Yorumlar (@Model.ReviewCount)</a>
                    </li>
                </ul>
            </div>
            <!-- Tab Content -->
            <div class="borders-radius-17 border p-4 mt-4 mt-md-0 px-lg-10 py-lg-9">
                <div class="tab-content" id="Jpills-tabContent">
                    <div class="tab-pane fade active show" id="Jpills-two-example1" role="tabpanel" aria-labelledby="Jpills-two-example1-tab">
                        @await Html.PartialAsync("_ProductDescription", Model)
                    </div>
                    <div class="tab-pane fade" id="Jpills-three-example1" role="tabpanel" aria-labelledby="Jpills-three-example1-tab">
                        <div class="mx-md-5 pt-1">
                            <div class="table-responsive mb-4">
                                @await Html.PartialAsync("_ProductSpecification", Model)
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Jpills-four-example1" role="tabpanel" aria-labelledby="Jpills-four-example1-tab">
                        @await Html.PartialAsync("_ProductReview", Model)
                    </div>
                </div>
            </div>
            <!-- End Tab Content -->
        </div>
        <!-- End Single Product Tab -->
        <!-- Related products -->
        @await Component.InvokeAsync("SimilarProduct")
        <!-- End Related products -->
        <!-- Brand Carousel -->
        <div class="mb-8">
            <div class="py-2 border-top border-bottom">
                <div class="js-slick-carousel u-slick my-1"
                     data-slides-show="5"
                     data-slides-scroll="1"
                     data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y"
                     data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                     data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right"
                     data-responsive='[{
                                "breakpoint": 992,
                                "settings": {
                                    "slidesToShow": 2
                                }
                            }, {
                                "breakpoint": 768,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }, {
                                "breakpoint": 554,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }]'>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img1.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img2.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img3.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img4.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img5.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img6.png" alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Carousel -->
    </div>
</main>
@section Scripts{
    <script src="/assets/vendor/appear.js"></script>
    <script src="/assets/js/components/hs.quantity-counter.js"></script>
    <script src="https://transvelo.github.io/electro-html/2.0/assets/js/components/hs.scroll-nav.js"></script>
    <script>$(document).on('ready', function () {
            // initialization of HSScrollNav component
            $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                duration: 700
            });

            // initialization of quantity counter
            $.HSCore.components.HSQantityCounter.init('.js-quantity');

        });</script>
    <script>
        $(function () {
            var template = ''
                + '<div class="border-bottom border-color-1 pb-4 mb-4 review-uniq"> '
                + '        <div class="d-flex justify-content-between align-items-center text-secondary font-size-1 mb-2"> '
                + '            <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">_star_placeholder</div>'
                + '        </div> '
                + '        <h2 class="font-size-25 text-lh-1dot2">_title_placeholder</h2>'
                + '        <p class="text-gray-90">_message_placeholder</p> '
                + '        <div class="mb-2"> '
                + '            <strong>_user_placeholder</strong> '
                + '            <span class="font-size-13 text-gray-23"> - _date_placeholder - </span> '
                + '            <span>_verified_placeholder</span> '
                + '        </div> '
                + '    </div>';

                    $.ajax({
                    type: 'GET',
                    url: '/home/productreview/@Model.Id',
                    dataType: 'Json',
                    success: function (data) {
                        let one = 0, two = 0, three = 0, four = 0, five = 0;
                        if (data.length > 0) {
                            $.each(data, function (i, item) {
                                let review = template;
                                review = review.replace('_user_placeholder', item.username);
                                review = review.replace('_date_placeholder', item.createdOn);
                                review = review.replace('_star_placeholder', createStar(item.rating));
                                review = review.replace('_title_placeholder', item.title);
                                review = review.replace('_message_placeholder', item.message);
                                if (item.dateModified !== '1/1/0001 12:00:00 AM')
                                    review = review.replace('_date_modified_placeholder', 'Last edited: ' + item.dateModified);
                                else
                                    review = review.replace('_date_modified_placeholder', '');
                                if (item.isVerifiedOwner)
                                    review = review.replace('_verified_placeholder', '<span class="font-size-13 text-success"><i class ="fas fa-check"></i> Satın alma doğrulandı</span>');
                                else
                                    review = review.replace('_verified_placeholder', '<span class="font-size-13 text-danger"><i class ="fas fa-times"></i> Satın alma doğrulanamadı</span>');
                                switch (item.rating) {
                                    case 1: one++; break;
                                    case 2: two++; break;
                                    case 3: three++; break;
                                    case 4: four++; break;
                                    case 5: five++; break;
                                }
                                $('#review-container').append(review);
                                $('.review-uniq')
                                    .last()
                                    .removeClass("border-bottom")
                                    .removeClass("border-color-1")
                                    .removeClass("mb-4")
                                    .removeClass("pb-4");
                            });
                        } else {
                            $('#review-container').append('<h5 style="text-align: center; padding: 20px;">There are no reviews yet</div>');
                        }

                        $('#one-star').empty();
                        $('#one-star').append("%" + (isNaN(one / data.length * 100) ? 0 : one / data.length * 100) + ' (' + one + ')');
                        var oneStarProgress = "<div class=\"progress-bar\" role=\"progressbar\" style=\"width: " + '' + (isNaN(one / data.length * 100) ? 0 : one / data.length * 100) + '%' + ";\" aria-valuenow=\"" + (isNaN(one / data.length * 100) ? 0 : one / data.length * 100) + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>";
                        $('#one-star-progress').append(oneStarProgress);

                        $('#two-star').empty();
                        $('#two-star').append("%" + (isNaN(two / data.length * 100) ? 0 : two / data.length * 100) + ' (' + two + ')');
                        var twoStarProgress = "<div class=\"progress-bar\" role=\"progressbar\" style=\"width: " + '' + (isNaN(two / data.length * 100) ? 0 : two / data.length * 100) + '%' + ";\" aria-valuenow=\"" + (isNaN(two / data.length * 100) ? 0 : two / data.length * 100) + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>";
                        $('#two-star-progress').append(twoStarProgress);

                        $('#three-star').empty();
                        $('#three-star').append("%" + (isNaN(three / data.length * 100) ? 0 : three / data.length * 100) + ' (' + three + ')');
                        var threeStarProgress = "<div class=\"progress-bar\" role=\"progressbar\" style=\"width: " + '' + (isNaN(three / data.length * 100) ? 0 : three / data.length * 100) + '%' + ";\" aria-valuenow=\"" + (isNaN(three / data.length * 100) ? 0 : three / data.length * 100)  + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>";
                        $('#three-star-progress').append(threeStarProgress);

                        $('#four-star').empty();
                        $('#four-star').append("%" + (isNaN(four / data.length * 100) ? 0 : four / data.length * 100) + ' (' + four + ')');
                        var fourStarProgress = "<div class=\"progress-bar\" role=\"progressbar\" style=\"width: " + '' + (isNaN(four / data.length * 100) ? 0 : four / data.length * 100) + '%' + ";\" aria-valuenow=\"" + (isNaN(four / data.length * 100) ? 0 : four / data.length * 100) + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>";
                        $('#four-star-progress').append(fourStarProgress);

                        $('#five-star').empty();
                        $('#five-star').append("%" + (isNaN(five / data.length * 100) ? 0 : five / data.length * 100) + ' (' + five + ')');
                        var fiveStarProgress = "<div class=\"progress-bar\" role=\"progressbar\" style=\"width: " + '' + (isNaN(five / data.length * 100) ? 0 : five / data.length * 100) + '%' + ";\" aria-valuenow=\"" + (isNaN(five / data.length * 100) ? 0 : five / data.length * 100) + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>";
                        $('#five-star-progress').append(fiveStarProgress);
                    }
                });
        function createStar(count) {
            let starTemplate = '';
            for (i = 0; i < count; i++) {
                starTemplate += '<small class="fas fa-star"></small> ';
            }
            for (i = 0; i < 5 - count; i++) {
                starTemplate += '<small class="far fa-star text-muted"></small> ';
            }
            return starTemplate;
        };
    });
    </script>
}