@model ProductModel
@{
    ViewData["Title"] = @Model.MetaTitle ?? Model.Name;
    var description = false;
    var imgIndex = 0;
}

<!-- Breadcrumb Area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading">Single Product Page</h1>
                    <ul class="breadcrumb-links">
                        <li><a href="index.html">Home</a></li>
                        <li>Single Product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Shop details Area start -->
<section class="product-details-area mtb-60px">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="product-details-img product-details-tab">
                    <div class="zoompro-wrap zoompro-2">
                        <div class="zoompro-border zoompro-span">
                            @{
                                var mainImageSrc = "/images/system/no-image.png";
                                if (Model.MainImage != null)
                                {
                                    mainImageSrc = Model.MainImage;
                                }
                            }
                            <img src="@mainImageSrc"
                                 class="zoompro"
                                 alt="@Model.Name"
                                 data-zoom-image="@mainImageSrc" />
                        </div>
                    </div>
                    <div id="gallery" class="product-dec-slider-2">
                        @foreach (var img in Model.ProductImages)
                        {
                            <a class="@imgIndex == 0 ? 'active' : ''" data-image="@img" data-zoom-image="@img">
                                <img src="@img" alt="@Model.Name" />
                            </a>
                            imgIndex++;
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="product-details-content">
                    <h2>@Model.Name</h2>
                    @{
                        var mLink = new List<string>();
                        foreach (var manufacturer in Model.Manufacturers)
                        {
                            mLink.Add($"<a href=\"/Manufacturer/{manufacturer.Name}\">{ @manufacturer.Name}</a>");
                        }
                    }
                    <p class="reference">Reference: @Html.Raw(string.Join(", ", mLink))</p>
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            @{
                                int activeStar = 0;
                                int roundedRating = Convert.ToInt32(Math.Round(Model.Rating, 0, MidpointRounding.AwayFromZero));
                            }
                            @for (int i = 0; i < roundedRating; i++)
                            {
                                <i class="ion-android-star"></i>
                                activeStar++;
                            }
                            @for (int i = 0; i < 5 - activeStar; i++)
                            {
                                <i class="ion-android-star-outline"></i>
                            }
                            @Model.Rating.ToString("N2")
                        </div>
                        <span class="read-review"><a class="reviews" asp-controller="CreateReview" asp-action="@Model.Id">Read reviews (@Model.ReviewCount)</a></span>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            @if (Model.OldPrice > 0)
                            {
                                <li class="old-price">@Model.OldPrice.ToString("N2") TL</li>
                                <li class="current-price">@Html.Raw(Model.Price.ToString("N2")) TL</li>
                            }
                            else
                            {
                                <li class="old-price not-cut">@Model.Price.ToString("N2") TL</li>
                            }
                        </ul>
                    </div>
                    <div class="pro-details-quality mt-0px">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                        </div>
                        <div class="pro-details-cart btn-hover">
                            <form asp-area="" asp-controller="Cart" asp-action="Add" method="post">
                                <input type="hidden" value="@Model.Id" name="id" />
                                <a href="#" onclick="this.closest('form').submit();return false;"> + Add To Cart</a>
                            </form>
                        </div>
                    </div>
                    <div class="pro-details-social-info">
                        <span>Share</span>
                        <div class="social-info">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)&t=@(Model.MetaTitle ?? Model.Name)" target="_blank">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/intent/tweet?url=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)&text=@(Model.MetaTitle ?? Model.Name)" target="_blank">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="whatsapp://send?text=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)&text=@(Model.MetaTitle ?? Model.Name)"
                                       data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                       target="_blank">
                                        <i class="ion-social-whatsapp"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pro-details-policy">
                        <ul>
                            <li><img src="assets/images/icons/policy.png" alt="" /><span>Security Policy (Edit With Customer Reassurance Module)</span></li>
                            <li><img src="assets/images/icons/policy-2.png" alt="" /><span>Delivery Policy (Edit With Customer Reassurance Module)</span></li>
                            <li><img src="assets/images/icons/policy-3.png" alt="" /><span>Return Policy (Edit With Customer Reassurance Module)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop details Area End -->
<!-- product details description area start -->
<div class="description-review-area mb-60px">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                @if ((Model.Description != null && Model.Description.Length > 0) || Model.Specifications.Count == 0)
                {
                    <a data-toggle="tab" href="#des-details1" class="active">Description</a>
                    description = true;
                }

                <a class="@(description == false ? "active" : "")" data-toggle="tab" href="#des-details2">Product Details</a>
                <a data-toggle="tab" href="#des-details3">Reviews (@Model.ReviewCount)</a>
            </div>
            <div class="tab-content description-review-bottom" style="padding-top:30px">
                @if ((Model.Description != null && Model.Description.Length > 0) || Model.Specifications.Count == 0)
                {
                    <div id="des-details1" class="tab-pane active">
                        @await Html.PartialAsync("_ProductDescription", Model)
                    </div>
                }
                <div id="des-details2" class="tab-pane @(description == false ? "active" : "")">
                    @await Html.PartialAsync("_ProductSpecification", Model)
                </div>
                <div id="des-details3" class="tab-pane">
                    @await Html.PartialAsync("_ProductReview", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product details description area end -->
<!-- Recent Add Product Area Start -->
<section class="recent-add-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section Title -->
                <div class="section-title">
                    <h2>You Might Also Like</h2>
                    <p>Add Related products to weekly line up</p>
                </div>
                <!-- Section Title -->
            </div>
        </div>
        <!-- Recent Product slider Start -->
        <div class="recent-product-slider owl-carousel owl-nav-style">
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-11.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-12.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Originals Kaval Windbr...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price">€23.90</li>
                            <li class="current-price">€21.51</li>
                            <li class="discount-price">-10%</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Juicy Couture Juicy Quil...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price">€35.90</li>
                            <li class="current-price">€34.21</li>
                            <li class="discount-price">-5%</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-3.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-4.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                    <h2><a href="single-product.html" class="product-link">Brixton Patrol All Terrai...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€29.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-6.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-6.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                    <h2><a href="single-product.html" class="product-link">New Balance Arishi Spo...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€29.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-22.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-15.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                    <h2><a href="single-product.html" class="product-link">Calvin Klein Jeans Refle...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€29.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-14.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-14.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Madden by Steve Madd...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price">€12.90</li>
                            <li class="current-price">€10.21</li>
                            <li class="discount-price">-10%</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <!-- Recent product slider end -->
    </div>
</section>
<!-- Recent product area end -->
<!-- Recent Add Product Area Start -->
<section class="recent-add-area mt-30 mb-30px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section Title -->
                <div class="section-title">
                    <h2>In The Same Category</h2>
                    <p>16 other products in the same category:</p>
                </div>
                <!-- Section Title -->
            </div>
        </div>
        <!-- Recent Product slider Start -->
        <div class="recent-product-slider owl-carousel owl-nav-style">
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-15.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-15.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Originals Kaval Windbr...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price">€23.90</li>
                            <li class="current-price">€21.51</li>
                            <li class="discount-price">-10%</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-14.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-14.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Juicy Couture Juicy Quil...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price">€35.90</li>
                            <li class="current-price">€34.21</li>
                            <li class="discount-price">-5%</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-22.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-23.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                    <h2><a href="single-product.html" class="product-link">Brixton Patrol All Terrai...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€29.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-9.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-9.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                    <h2><a href="single-product.html" class="product-link">New Balance Arishi Spo...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€29.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-18.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-18.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                    <h2><a href="single-product.html" class="product-link">Calvin Klein Jeans Refle...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€29.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-7.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-8.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Madden by Steve Madd...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price">€12.90</li>
                            <li class="current-price">€10.21</li>
                            <li class="discount-price">-10%</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-17.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-16.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Trans-Weight Hooded...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€11.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
            <article class="list-product">
                <div class="img-block">
                    <a href="single-product.html" class="thumbnail">
                        <img class="first-img" src="assets/images/product-image/organic/product-9.jpg" alt="" />
                        <img class="second-img" src="assets/images/product-image/organic/product-9.jpg" alt="" />
                    </a>
                    <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                            <i class="ion-ios-search-strong"></i>
                        </a>
                    </div>
                </div>
                <ul class="product-flag">
                    <li class="new">New</li>
                </ul>
                <div class="product-decs">
                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                    <h2><a href="single-product.html" class="product-link">Water and Wind Resist...</a></h2>
                    <div class="rating-product">
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                        <i class="ion-android-star"></i>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">€11.90</li>
                        </ul>
                    </div>
                </div>
                <div class="add-to-link">
                    <ul>
                        <li class="cart"><a class="cart-btn" href="#">ADD TO CART </a></li>
                        <li>
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                        </li>
                        <li>
                            <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- Single Item -->
        </div>
        <!-- Recent product slider end -->
    </div>
</section>
<!-- Recent product area end -->




<div class="container">
    <div class="row">

    </div> <!-- row end -->
    <br />
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="product-info-tabs">
                @if ((Model.Description != null && Model.Description.Length > 0) || Model.Specifications.Count == 0)
                {
                    <li class="nav-item">
                        <a class="nav-link active" id="description" data-toggle="tab" href="#descriptionTab" role="tab">Description</a>
                    </li>

                    description = true;
                }
                <li class="nav-item">
                    <a class="nav-link @(description == false ? "active" : "")" id="specification" data-toggle="tab" href="#specificationTab" role="tab">Specification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reviews" data-toggle="tab" href="#reviewsTab" role="tab">Reviews</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                @if ((Model.Description != null && Model.Description.Length > 0) || Model.Specifications.Count == 0)
                {
                    <div class="tab-pane active" id="descriptionTab" role="tabpanel">
                        <br />
                        @await Html.PartialAsync("_ProductDescription", Model)
                    </div>
                }
                <div class="tab-pane @(description == false ? "active" : "")" id="specificationTab" role="tabpanel">
                    <br />
                    @await Html.PartialAsync("_ProductSpecification", Model)
                </div>
                <div class="tab-pane" id="reviewsTab" role="tabpanel">
                    <br />
                    @await Html.PartialAsync("_ProductReview", Model)
                </div>
            </div>
        </div>
    </div> <!-- row end -->
</div> <!-- container end -->
@section Scripts {
    <script>
          $(function () {
        var template = `
            <tr>
                <th>
                    <ul>
                        <li class ="r-user">_user_placeholder</li>
                        <li class ="r-date">_date_placeholder</li>
                        <li class ="r-verified">_verified_placeholder</li>
                    </ul>
                </th>
                <td>
                    <div>
                        _star_placeholder
                        <span class ="review-title">_title_placeholder</span>
                    </div>

                    <div class ="review-message">
                        <p>_message_placeholder</p>
                        <span class ="date-edited text-muted">_date_modified_placeholder</span>
                    </div>
                    <p class ="helpful text-muted">
                        Did you find this review helpful?
                        <button class ="btn btn-sm btn-secondary">Yes</button>
                        <button class ="btn btn-sm btn-secondary">No</button>
                    </p>
                </td>
            </tr>
        `

        // get product review
                $('#review-container').append("<div>Loading...</div>");
                $.ajax({
                    type: 'GET',
                    url: '/home/productreview/@Model.Id',
                    dataType: 'Json',
                    success: function (data) {
                        $('#review-container').empty(); // remove existing dom

                        let one = 0, two = 0, three = 0, four = 0, five = 0;

                        if (data.length > 0) {
                            $.each(data, function (i, item) {

                                let review = template;
                                review = review.replace('_user_placeholder', item.username);
                                review = review.replace('_date_placeholder', item.createdOn);
                                review = review.replace('_star_placeholder', createStar(item.rating));
                                review = review.replace('_title_placeholder', item.title);
                                review = review.replace('_message_placeholder', item.message);

                                if (item.dateModified !== '1/1/0001 12:00:00 AM')
                                    review = review.replace('_date_modified_placeholder', 'Last edited: ' + item.dateModified);
                                else
                                    review = review.replace('_date_modified_placeholder', '');

                                if (item.isVerifiedOwner)
                                    review = review.replace('_verified_placeholder', '<i class ="fa fa-check verified-check"></i> Verified Purchase');
                                else
                                    review = review.replace('_verified_placeholder', '<i class ="fa fa-close verified-x"></i> Verified Purchase');

                                switch (item.rating) {
                                    case 1: one++; break;
                                    case 2: two++; break;
                                    case 3: three++; break;
                                    case 4: four++; break;
                                    case 5: five++; break;
                                }

                                $('#review-container').append(review);
                            });
                        } else {
                            $('#review-container').append('<h5 style="text-align: center; padding: 20px;">There are no reviews yet...</div>');
                        }

                        // set review count and percentage
                        $('#one-star').empty();
                        $('#one-star').append(one / data.length * 100 + '% (' + one + ')');

                        $('#two-star').empty();
                        $('#two-star').append(two / data.length * 100 + '% (' + two + ')');

                        $('#three-star').empty();
                        $('#three-star').append(three / data.length * 100 + '% (' + three + ')');

                        $('#four-star').empty();
                        $('#four-star').append(four / data.length * 100 + '% (' + four + ')');

                        $('#five-star').empty();
                        $('#five-star').append(five / data.length * 100 + '% (' + five + ')');
                    }
                });


        function createStar(count) {
            let starTemplate = '';
            for (i = 0; i < count; i++) {
                starTemplate += '<i class="on-android-star"></i>';
            }

            for (i = 0; i < 5 - count; i++) {
                starTemplate += '<i class="on-android-star-outline"></i>';
            }

            return starTemplate;
        };
    });
    </script>
}