@model IEnumerable<ProductModel>
@foreach (var product in Model)
{
    <li class="product-item product-item__list row no-gutters mb-6 remove-divider">
        <div class="col-auto">
            <a href="/Product/@product.SeoUrl" class="d-block width-75 text-center">
                @if (product.MainImage != null)
                {
                    <img class="img-fluid" src="@product.MainImage?w=75&h=75&mode=crop" alt="@product.Name" /> }
                else
                { <img class="img-fluid" src="~/images/system/no-image.png" alt="@product.Name" />}
            </a>
        </div>
        <div class="col pl-4 d-flex flex-column">
            <h5 class="product-item__title mb-0">
                <a href="/Product/@product.SeoUrl" class="text-blue font-weight-bold" title="@product.Name">@product.Name</a>
            </h5>
            <div class="text-warning mb-2">
                @{
                    int activeStar = 0;
                    int roundedRating = Convert.ToInt32(Math.Round(product.Rating, 0, MidpointRounding.AwayFromZero));
                }
                @for (int i = 0; i < roundedRating; i++)
                {
                    <small class="fas fa-star"></small>
                    activeStar++;
                }
                @for (int i = 0; i < 5 - activeStar; i++)
                {
                     <small class="fas fa-star text-muted"></small>
                }
            </div>
            <div class="prodcut-price mt-auto">
                <div class="font-size-15">
                    @product.Price.ToString("N2") <span>TL</span>
                </div>
            </div>
        </div>
    </li>
}